
<h2><%= @task.title %></h2>
<h2><%= @task.details %></h2>
  <% if @task.completed == true %>
    <p> <%= "This task is completed" %></p>
  <% else %>
    <p> <%= "This task is not completed" %></p>
  <% end %>

<p> <%= link_to "Edit this task", edit_path %> </p>
<%= link_to "Back to list", tasks_path %>

